body {
    background-color: #f0f0f0; /* Um cinza claro de fundo */
    font-family: sans-serif;  /* Uma fonte simples e moderna */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333; /* Uma cor de texto escura */
}